// IMPORTS
@import 'declarations.scss';

/* PRESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size-native;
    font-family: 'Raleway', sans-serif;
}
body {
    overflow: hidden;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: $theme;

    &__logo {
        text-align: center;
        color: $font-theme;
        display: block;
        font-size: font-resize(2.2);
        cursor: pointer;
        @include mobile-screen {
            text-align: left;
            margin-left: 30px;
            font-size: font-resize(1.25);
        }
        @include tablet-screen {
            font-size: font-resize(1.5);
        }
    }
    
    &__ranking {
        color: $font-theme;
        font-size: font-resize(1.1);
        float: right;
        text-align: center;
        position: absolute;
        top: 25px;
        right: 50px;
        cursor: pointer;
        @include mobile-screen {
            top: 15px;
            right: 30px;
        }
        @include tablet-screen {
            top: 20px;
        }
    }
}

/* IMAGE DUEL */
.photomash-screen {

    &__container {
        margin-top: 50px;
        text-align: center;
        vertical-align: middle;
        @include tablet-screen {
            margin-top: 30px;
        }
    }

    &__title {
        font-size: font-resize(2);
        margin-top: 100px;
        @include mobile-screen {
            font-size: font-resize(1.5);
            margin-top: 80px;
        }
        @include tablet-screen {
            font-size: font-resize(1.8);
            margin-top: 80px;
        }
    }

    #img1 {
        @extend %img-style;
    }
    
    #img2 {
        @extend %img-style;
    }

    &__x {
        font-size: font-resize(1.5);
        margin-left: 3%;
        margin-right: 3%;
        @include tablet-screen {
            font-size: font-resize(1);
        }
    }
}

/* RANKING */
.ranking-screen {
    padding-top: 90px;

    &__box {
        margin-bottom: 5px;
        padding: 30px;
        &:not(:last-child) {
            border-bottom: 1px solid lightgray;
        }
    }
    &__image {
        width: 100px;
    }
    &__text {
        font-size: font-resize(1.85);
        margin-left: 20px;
        float: right;
    }
}
